<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome{% endblock title %} - Page title</title>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Droid+Sans'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div id="layout">
    {% include "includes/header.html" %}
    {% block content %}
        <p>Default content to be displayed</p>
    {% endblock content %}
</div>
</body>
</html>
