{% extends "base.html" %}

{% block content %}
    <p>
        If you wish to contact me, send an email to amar AT sahinovic DOT com
    </p>
    <p>
        You can also find me on sites below:
    </p>
    <ul>
        <li><a href="http://github.com/amarsahinovic">github</a></li>
        <li><a href="http://bitbucket.org/amarsahinovic">bitbucket</a></li>
        <li><a href="http://twitter.com/AmarSahinovic">twitter</a></li>
        <li><a href="https://people.djangoproject.com/amar/">django people</a></li>
        <li><a href="http://www.xing.com/profile/Amar_Sahinovic">xing</a></li>
        <li><a href="http://plus.google.com/117860910957313750495">google+</a></li>
        <li><a href="http://www.linkedin.com/in/amarsahinovic">linkedin</a></li>
        <li><a href="http://www.last.fm/user/AmaR_87">lastfm</a></li>
        <li><a href="http://www.facebook.com/amar.sahinovic">facebook</a></li>
    </ul>
{% endblock content %}
